<div class="wrapper">
  <div class="set_comment_container">
    <h3>{{ header }}</h3>
    <div class="set_comment">
      <form [formGroup]="commentForm">
        <textarea formControlName="comment" placeholder="{{ 'order-edit.comment.placeholder' | translate }}" cols="50" rows="6"></textarea>
      </form>
    </div>
    <div class="comment_btns">
      <button class="cancel" [mat-dialog-close]="false">{{ 'order-edit.btn.cancel' | translate }}</button>
      <button (click)="onSubmit()" class="save">{{ 'order-edit.btn.save' | translate }}</button>
    </div>
  </div>
</div>
